.login-button{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

.main-logo{
    display: flex;
    justify-content: center;

}

.noneClass{
    flex:1;
}
.menu-area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex:1;
}

.menu-list {
    display: flex;
    list-style-type: none;
    flex:5;
    justify-content: center;
    align-items: center;
}

.menu-list li {
    padding:10px;
}

.input-area{
    border-bottom: 1px solid black;
    width: fit-content;
    flex:1;
    align-items: end;
    margin-right: 20px;
}

.input-box{
    border: none;
    outline: none;
}